.contieneTitulos {
    text-align: center;
    background-color: #92c3da;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contieneTitulos h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cartaNews ion-card-title {
    padding-bottom: 20px;
}

.cartaNews p {
    padding-bottom: 20px;
}