.contenidoHoras {
    border: 1px solid #e8e7e7;
    font-size: 10px;
    float: left;
    margin-right: 10px;
}

.franga {
    background-color: #4490c9;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.horas {
    padding: 5px;
    color: #6f6f6f;
    text-align: center;
}

.badge {
    float: right;
}