<ion-header>
    <ion-toolbar [ngStyle]="_is.estilo">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ponentes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let speakers of _ss.speakers" (click)="detalles(speakers)">
        <ion-item>
            <ion-avatar slot="start">
                <img [src]="speakers.url_photo">
            </ion-avatar>
            <ion-label>
                <h2>{{speakers.name}} {{speakers.surname}}</h2>
                <p>{{speakers.organization}}. {{speakers.city}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer class="white">
    <ion-toolbar>
        <img [src]="_is.sponsor" class="logoFooter" />
    </ion-toolbar>
</ion-footer>