<ion-header>
    <ion-toolbar [ngStyle]="_is.estilo">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Programa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <!-- <ion-button class="btnCategorias" expand="full" color="light" *ngFor="let categorias of _ps.categorias" (click)="_cs.cargar_categorias(categorias.type_id)">
        {{categorias.name}}
    </ion-button>-->


    <ion-card class="cardProgramas" *ngFor="let categorias of _ps.categorias" (click)="_cs.cargar_categorias(categorias.type_id)">
        <ion-card-content>
            <strong> {{categorias.name}}</strong>
        </ion-card-content>
        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button mini class="btnPrograma">
                <ion-icon name="arrow-dropright"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-card>



</ion-content>

<ion-footer class="white">
    <ion-toolbar>
        <img [src]="_is.sponsor" class="logoFooter" />
    </ion-toolbar>
</ion-footer>