<ion-header>
    <ion-toolbar [ngStyle]="_is.estilo">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Programas
        </ion-title>



    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header *ngFor="let programa of _cs.programas" class="contenidoSelector">

        <ion-select (ionChange)="_cs.changeCategory($event)" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccionar categoría" class="selectorCategorias" cancelText="Cancelar">
            <ion-select-option *ngFor="let categoria of _cs.categorias" value="{{categoria.id}}" (ionSelect)="_cs.selectCategory(categoria.id)">{{categoria.name}}</ion-select-option>
        </ion-select>

    </ion-list-header>

    <div *ngFor="let categoria of _cs.categorias" class="{{categoria.id}}">
        <!--aquí vamos a filtar la categoría por su id para poder mostrar según selección-->
        <div *ngIf="categoria.id == _cs.id">
            <div>

                <ion-segment [(ngModel)]="dias">
                    <ion-segment-button *ngFor="let days of categoria.days" [value]="days.name">
                        {{days.name}}
                    </ion-segment-button>
                </ion-segment>

                <div [ngSwitch]="dias" *ngFor="let days of categoria.days">
                    <ion-list *ngSwitchCase="days.name" ngSelected="days.name == days.name">
                        <!--<ion-item detail="true" *ngFor="let events of days.events" [href]="'/catdetalles/' + events.id">-->
                        <ion-item detail="true" *ngFor="let events of days.events" (click)="detalles(events)">
                            <!--<ion-icon name="return-right" class="iconoHijo" [ngClass]="{'iconoActive' : events.parent > 0 && _cs.idTipoPrograma == 0}"></ion-icon>-->
                            <ion-label [ngClass]="{'marginActive' : events.parent > 0 && _cs.idTipoPrograma == 0}">
                                <div class="contenidoHoras">
                                    <div class="franga" *ngIf="events.state !== null">
                                        <span>{{events.state}}</span>
                                    </div>
                                    <div class="horas">{{events.hour_ini}} - {{events.hour_end}}</div>
                                </div>
                                <ion-label text-wrap>
                                    <h4>{{events.title}}</h4>
                                </ion-label>
                                <p>{{events.description}}</p>

                                <ion-badge color="tertiary" slot="end" class="badge" *ngFor="let item of _ss.rooms">
                                    <span *ngIf="events.room_id == item.id">
                                             {{item.name}}</span>

                                </ion-badge>

                            </ion-label>
                        </ion-item>

                    </ion-list>
                </div>

            </div>



        </div>

    </div>
</ion-content>